* {
    margin: 0;
    padding: 0;
    color: #fff;
}

#logo{
    max-width: 7.5vw;
}

.img-background{
    width: 100%;
}
.tam{
    width:100px;
    height: 100px;
    color: white;
}

.banner{
	padding: 12vw;
	text-align: center;
    background: url("../assets/images/banner-initial.png")  top left/cover no-repeat fixed ;
}

.section{
    background-color: black;
    padding: 5vh;
}

.hr-1{
    border: 0;
    margin: 0;
    height: 3px;
    background-color: #515c6f;
    opacity: 1;
}

.custom-btn {
  background-color: rgb(219, 0, 0);
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  padding: 20px 30px;
}

.custom-btn:hover{
    background-color: rgb(179, 0, 0)
}

.accordion-item {
  --bs-accordion-bg: #fff;
  --bs-accordion-btn-bg: #303030;
  --bs-accordion-btn-color: #fff;
  --bs-accordion-active-bg: #303030;
  --bs-accordion-active-color: #fff;
  --bs-accordion-btn-padding-y: 25px;
  margin: 5px;
  overflow: hidden;
}

.accordion-button::after {
    background-image: url("../assets/images/add.svg") !important;
    background-size: 20px;
}

.accordion-flush .accordion-item {
    border-bottom: 0;
}

.accordion-button{
    font-size: 25px;
}

.accordion-body{
    color: black;
}
